.wrapper{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: pink;
 
}
.tower{
  border: 1px solid #000;
  margin: 10px; 
  height: 500px;
  width: 200px;
  display: inline-block;
  position: absolute;
  bottom: 0;
}
#tower1{
  position: relative;
  margin: 0 auto;
  bottom: 0;
}
#tower3{
    border: 1px solid #000;
    margin: 10px;
    min-height: 50px;
    left: 39%;
}
  
#tower2{
    position: absolute;
    left: 20%;
}
.contains{
  position: absolute;
  bottom: 0;
}
#floater3 {
  height: 50px;
  margin: 0 auto;
  width: 150px;
  background-color: green;
}

#floater2 {
  height: 50px;
  margin: 0 auto;
  width: 90px;
  background-color: red;
}

.floater1 {
  height: 50px;
  margin: 0 auto;
  width: 50px;
  background-color: blue;
}

.floating{
	height: 50px;
  margin: 0 auto;
  width: 50px;
  border: 1px solid #000;
  background-color: blue;
}

.highlight{
border: 3px solid yellow;
}

.invisible{
	display: none;
}
